
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>upload</title>
</head>
<body>
<div>
    <form method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td>标题</td><td><input type="txt" name="title"/></td>
            </tr>
            <tr>
                <td>类别</td><td><input type="txt" name="categories"/></td>
            </tr>
            <tr>
                <td>文件上传</td><td><input type="file" name="files"/></td>
            </tr>
            <tr>
                <td></td><td><input type="submit" name="上传"/></td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>